* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-bg1: #fef8f6;
    --body-bg2: white;
    --dark-brown: #7d533b;
    --brown-color: #b97166;
    --light-brown: #cc9999;
    --light-color: #efcac3;
    --light-shadow: 0 0 10px var(--light-color);
    --bg-avatar: #efcac34a;
    --header: linear-gradient(to bottom, #efcac3 0%, #efcac31f 100%);
    --gradient: linear-gradient(to top, #efcac3 0%, #efcac31f 100%);
}
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    font-family: "Roboto";
    font-size: 1.2em;
}
a {
    color: black;
    text-decoration: none;
    display: block;
}
h1 {
    font-size: 45px;
    font-weight: 900;
}

h1 {
    width: fit-content;
    margin: 0 auto;
    position: relative;
}
h1::before,
h1::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 5px;
    background: #000;
}
h1::before {
    top: 50%;
    left: -100px;
}
h1::after {
    background: var(--brown-color);
    top: 50%;
    right: -100px;
}
h2,
h3 {
    margin-bottom: 20px;
}
button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}
img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}
.image img,
.video video {
    object-fit: contain;
}

.middle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home,
.about,
.resume,
.project,
.contact {
    padding-left: 8%;
    height: 100vh;
}
.hightlight {
    color: var(--brown-color);
}
.line {
    width: 80px;
    height: 6px;
    background: var(--brown-color);
    margin: 10px auto;
    display: none;
}
.follow a,
.follow button {
    margin: 15px 10px 0 0;
    display: inline-block;
    background: var(--light-color);
    color: var(--dark-brown);
    padding: 8px 15px;
    border-radius: 18px;
    transition: 0.5s;
}
.follow .icon {
    font-size: 22px;
    display: inline-block;
}
.follow .text {
    display: none;
    opacity: 0;
}
.follow a:hover,
.follow button:hover {
    width: fit-content;
    background: var(--brown-color);
    color: white;
}
.follow a:hover .text,
.follow button:hover .text {
    opacity: 1;
    display: inline-block;
}
.link-down {
    width: fit-content;
    padding: 8px 20px;
    background: var(--brown-color);
    color: white;
    border-radius: 10px;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}
.link-down:hover,
.link-down:active {
    background: var(--dark-brown);
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
/* -------------------HEADER------------------- */
.header {
    background: var(--header);
    box-shadow: 0 0 8px var(--dark-brown);
    border-radius: 0 10px 10px 0;
    color: var(--dark-brown);
    width: 85px;
    position: fixed;
    padding: 20px 10px;
    text-align: center;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
}
.header a {
    margin: 50px 0;
    color: var(--dark-brown);
}
.show {
    font-weight: 900;
    text-decoration: underline;
}
.header a:hover {
    font-weight: 900;
}
.logo img {
    width: 50px;
    height: 50px;
}
.link {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
}
/* -------------------TOGGLE ------------------- */
.toggle {
    position: fixed;
    width: 100vw;
    height: fit-content;
    padding: 5px 10px;
    justify-content: space-between;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--dark-brown);
    visibility: hidden;
}
.toggle img {
    width: 35px;
    height: 35px;
}
.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--body-bg1);
    z-index: 10;
    transition: 0.5s;
}
.menu .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2.2rem;
    cursor: pointer;
}
ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
ul li {
    list-style: none;
    padding-bottom: 30px;
}
ul li:last-of-type a {
    display: inline;
    padding-right: 10px;
    font-size: 1.5em;
}
.menu a:hover {
    font-weight: 900;
}
.active {
    left: 0;
}
/* -------------------HOME------------------- */
.home {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}
.home-name {
    font-size: 2.8rem;
}
.home-content p:first-of-type {
    font-size: 1.27rem;
    font-weight: 500;
    margin: 20px 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 8s steps(30) infinite, blink 1s infinite;
}
@keyframes typing {
    0%,
    100% {
        width: 0%;
    }
    70%,
    90% {
        width: 100%;
    }
}
@keyframes blink {
    0%,
    100% {
        border-right: 5px solid transparent;
    }
    50% {
        border-right: 3px solid var(--brown-color);
    }
}
.avatar {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    background: var(--bg-avatar);
    overflow: hidden;
    box-shadow: 3px 3px 3px var(--light-color);
    z-index: 1;
}
.frame-image {
    position: relative;
    width: 25rem;
    height: 25rem;
}
.circle {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation-name: rotateDots;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /* speed the same start - end */
}
@keyframes rotateDots {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
}
/* -------------------ABOUT------------------- */
.about {
    flex-direction: column;
    background: var(--body-bg2);
}
.about-intro {
    width: 80%;
    text-align: center;
}
.avatar-square {
    width: 25rem;
    height: 18rem;
    padding: 0 50px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px #efcac379;
    background: linear-gradient(#fef8f6, #efcac34a);
    position: relative;
    z-index: 1;
}
.avatar-square::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-radius: 15px;
    border: 1px solid var(--dark-brown);
    width: 25rem;
    height: 18rem;
    z-index: -1;
}
.info {
    margin-left: 30px;
}
.info-detail {
    grid-gap: 30px;
    margin-bottom: 30px;
}
.info-item a {
    display: inline;
}
.info-item p {
    margin-top: 20px;
    font-weight: 300;
}
.info-item span {
    font-weight: 700;
}

/* -------------------RESUME------------------- */
.resume {
    background: var(--body-bg1);
    grid-gap: 20px;
}
.resume i {
    color: var(--brown-color);
    margin-right: 10px;
}
.col {
    display: flex;
    flex-direction: column;
    grid-gap: 80px;
}
.timeline {
    border-radius: 15px;
    background: white;
    box-shadow: var(--light-shadow);
    padding: 10px 20px;
}
.timeline-content {
    border-left: 2px solid var(--brown-color);
    padding-left: 20px;
    position: relative;
}
.timeline-content p {
    margin: 10px 0 20px 0;
}
.timeline-content p:last-of-type,
.skill-item p {
    font-weight: 300;
}
.time {
    width: fit-content;
    border-radius: 15px;
    padding: 5px 10px;
    background: var(--light-color);
    color: var(--dark-brown);
}
.timeline-content::before {
    content: "";
    top: 40px;
    left: -8px;
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--brown-color);
    border-radius: 50%;
}
.skill-item {
    background: white;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: var(--light-shadow);
}
.skill-item h3 {
    margin-bottom: 8px;
    width: fit-content;
}
.skill-item p {
    padding-left: 10px;
}
/* -------------------PROJECT------------------- */
.project {
    flex-direction: column;
    background: var(--body-bg2);
}
.projects {
    grid-gap: 50px;
}
.project-item {
    box-shadow: 0 0 10px #cccaca;
    border-radius: 15px;
    flex-direction: column;
    flex-flow: column-reverse;
    overflow: hidden;
    padding-top: 30px;
    width: fit-content;
}
.project-head {
    width: 100%;
    margin-left: 20px;
}
.project-logo {
    width: 25%;
    height: 25%;
}
.project-content {
    background: white;
    margin-top: -10%;
    width: 100%;
    padding: 10% 20px 30px 20px;
}
.project-item .middle {
    justify-content: start;
    grid-gap: 20px;
}
.project-head .follow a,
.project-head .follow button {
    background: var(--brown-color);
    color: white;
}
.project-head .follow .text {
    display: inline-block;
    opacity: 1;
}
.project-time {
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 500;
    border: 1px solid #636fa49e;
}
/* -------------------POPUP------------------- */
.popup {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 30px 20px;
}
.popup-logo {
    width: 40%;
    margin: 0 auto;
}
.popup-content {
    background: var(--body-bg1);
    border-radius: 5px;
    height: 100%;
    overflow-y: scroll;
    padding: 10px 20px;
}
.popup-content::-webkit-scrollbar {
    display: none;
}
.popup-item {
    margin-top: 30px;
    margin-bottom: 70px;
    border: 1px double white;
    box-shadow: 3px 3px 10px #808080;
}
.popup-progess {
    height: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px #dadada;
    border-radius: 5px;
    display: flex;
    width: 50%;
    grid-gap: 2px;
    margin: 10px 30px;
}
.popup-item p {
    margin: 0 30px;
    line-height: 30px;
}
.popup-title {
    width: fit-content;
    margin: -25px 0 20px 0;
    border-radius: 5px;
    padding: 5px;
}
.popup-title b {
    font-size: 1.8rem;
}
.popup-title span {
    font-size: 1.3rem;
}
.technology p span {
    border-radius: 50%;
    font-size: 10px;
    color: transparent;
    box-shadow: 0 0 3px #dadada;
    margin-right: 15px;
}
.video-popup {
    margin: 20px;
}
.btn-close {
    position: fixed;
    right: 30px;
    font-size: 2rem;
}
.hide {
    display: none;
}
.scroll-none {
    overflow: hidden;
}
/* -------------------CONTACT------------------- */
.contact {
    background: var(--body-bg1);
    flex-direction: column;
}
.contact-item .image {
    margin: 20px auto;
}
.contact-row {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}
.contact-item p,
.contact-item a {
    margin-bottom: 30px;
    font-weight: 300;
}
/* ------------------- RESPONSIVE ------------------- */
@media screen and (max-width: 1024px) {
    .home,
    .about,
    .resume,
    .project,
    .contact {
        height: 100%;
        width: 100vw;
    }
    h1::before,
    h1::after {
        display: none;
    }
    .line {
        display: block;
    }
    .toggle {
        visibility: visible;
    }
    .header {
        visibility: hidden;
    }
    .avatar-square {
        margin: 10px 0;
    }
    /* HOME */
    .home {
        height: 100vh;
        padding: 0 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        grid-gap: 20px;
    }
    /* ABOUT */
    .about {
        padding: 80px 20px;
    }
    .about-intro {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .about-info {
        flex-direction: column;
    }
    .info {
        text-align: center;
    }
    .info-detail {
        text-align: left;
    }
    .link-down {
        margin: 0 auto;
    }
    /* RESUME */
    .resume {
        padding: 80px 10px;
        flex-direction: column;
    }
    .col {
        grid-gap: 30px;
    }
    .skills {
        margin-top: 30px;
    }
    /* PROJECT */
    .project,
    .projects {
        padding: 80px 5px;
        flex-direction: column;
    } 
    .projects{
        flex-flow: column-reverse;
    }
    /* CONTACT */
    .contact {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 20px;
    }
    .contact .image {
        margin: 10px 0;
    }
    .contact-row {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        grid-gap: 30px;
        margin-top: 20px;
    }
    /* POPUP */
    .popup-logo {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .home,
    .about,
    .resume,
    .project,
    .contact {
        font-size: 1rem;
    }
    .avatar {
        width: 15rem;
        height: 15rem;
    }
    .avatar-square {
        width: 20rem;
        height: 100%;
    }
    .avatar-square::after {
        border: none;
    }
    .frame-image {
        width: 15.8rem;
        height: 15.8rem;
    }
    /* HOME */
    .home-content p:first-of-type {
        margin: 10px;
        white-space: normal;
        word-break: break-word;
        animation: none;
    }
    /* ABOUT */
    .about-intro {
        padding: 0;
    }
    .info-detail {
        display: block;
    }
    /* PROJECT */
    .project-logo {
        width: 35%;
    }
    .project-content .middle h3 {
        display: none;
    }
    .project-content .middle {
        margin-bottom: 50px;
    }
    .project-item {
        position: relative;
    }
    .project-head .follow {
        position: absolute;
        bottom: 10px;
    }
    /* CONTACT */
    .contact .image {
        margin: 10px auto;
    }
    .contact-row {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    /* POPUP */
    .popup-logo {
        width: 100%;
    }
    .popup-progess {
        width: 80%;
    }
}

@media screen and (max-height: 600px) {
    .home {
        height: 100%;
        padding: 80px 0;
    }
}
